#___________________________________
#  1. cache, build, db sqlite3 files
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

.ipynb_checkpoints/
__pycache__/
.idea/
*.class


#___________________________________
#  2. hidden on purpose
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
_flask_app_test.py
_private*
_UTC*
