<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>BlockChain Test!</title>
</head>

<body>

</html>
<h1>HELLO!</H1>
<h3>This is CHAIN HELPER</h3>
<p>Possible URLs for command -
  <a href="http://localhost:5000/">localhost:5000/</a>
</p>
<ol>
  <li> <a href="/chains">/chains</a> - to show whole chains </li>
  <li> <a href="/transactions">/transactions</a> - to show TXs list before new block</li>
  <li> <a href="/transactions/new">/transactions/new</a> - to make a new TX</li>
  <li> <a href="/transactions/all">/transactions/all</a> - to show whole TXs from the start</li>
  <li> <a href="/mine">/mine</a> - to mine a new block (writing ledger automatically)</li>
  <li> <a href="/write">/write</a> - to write chains to chains.json</li>
</ol>
</body>
