<!DOCTYPE html>
<html>

<head>
	<title>Random Pick Out of 100!</title>
</head>

<body>
	<style>
		#TITLE {
			font-size: 3em;
			color: #131712;
			text-align: center;
		}

		#NUMBERS {
			margin-top: 1vh;
			font-size: 2.5em;
			color: #fff;
			text-align: center;
		}

		b {
			display: inline-block;
			width: 80px;
			height: 80px;
			line-height: 80px;
			border-radius: 64px;
			margin: 1px;
		}

		.btn-custom {
			margin: 0;
			background-color: #f5b86f;
			cursor: pointer;
			font-family: $helveticaNeue;
			font-weight: 600;
			font-size: 28px;
			letter-spacing: 0px;
		}
	</style>

	<h1 id="TITLE">PICK 10 OUT OF 100!</h1>
	<br>

	<!-- 넘버생성 위치 -->
	<div id="NUMBERS"></div>


	<br>
	<!-- 리로드 버튼 생성 위치 -->
	<div align="center">
		<a href="./random_pick_100.html">
			<button class="btn-custom" name="RELOAD">RELOAD</button>
		</a>
	</div>


	<br>
	<!-- 원본소스 인용위치 -->
	<div class="content">
		<li style="text-align: center;">원본 소스보기 :
			<a href='https://github.com/owo-sbsoft/lotto' target="new">
				[owo-sbsoft : git codelab]
			</a>
		</li>
	</div>


	<script>
		var ballColors = [
			'#21fe09', '#ff8700', '#0967f4', '#ff0014', '#ffc200', '#f906eb',
			'#35d125', '#db8a2f', '#3e85f0', '#f04452', '#face42', '#f563ec',
			'#439939', '#b9864d', '#71a5f5', '#f47680', '#f5d87c', '#f1a5ed',
			'#426b3e', '#7c6346', '#9dbff2', '#f59ea5', '#faebba', '#f2bdef',
			'#486545', '#604e3a', '#c0d6f6', '#f9c3c7', '#b1a378', '#a781a5',
			'#749571', '#9e876d', '#8ca2c2', '#c89195', '#8b7c4e', '#834d80',
			'#abcda7', '#d2ba9f', '#c0d6f6', '#74383d', '#6c5b27', '#582055',
			'#bbf1b6', '#e8d2b8', '#2c3b52', '#401619', '#52410f', '#4d0749',
		];

		function getNumbers() {
			var ballNumbers = [];
			var numOfBalls = 100;
			var numOfPickBalls = 10;

			while (ballNumbers.length < numOfPickBalls) {
				var no = Math.round(Math.random() * numOfBalls) + 1;
				if (ballNumbers.indexOf(no) === -1) ballNumbers.push(no);
			}
			return ballNumbers;
		}

		window.onload = function() {
			var ballNumbers = getNumbers();
			var html_ball = "";

			for (var i = 0; i < ballNumbers.length; i++) {
				colorPick = Math.round(Math.random() * 47);
				html_ball += '<b style="background: ' + ballColors[colorPick] + '">' + ballNumbers[i] + '</b> ';
			}
			document.getElementById("NUMBERS").innerHTML = html_ball;
		}
	</script>


</body>

</html>
